<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>ABOUT PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel labore maxime accusantium distinctio minima, adipisci provident? Nisi sed laborum neque. Corporis tempore sit necessitatibus fugit, provident ipsa vitae! Quidem, nulla.</p>
</body>
</html>